<a href="https://colab.research.google.com/github/FlorannTagalog/Numeth/blob/main/58015_TagalogFlorAnn_RevisitingPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
 *by F.A. Tagalog Â©2021*
 
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

Data type is an important concept in programming. Variables can store data with different types and different types can do different things. 

There are various data types in python these are:
*   Numeric Types:	int, float, complex
*   Text Type:	str
*   Sequence Types:	list, tuple, range
*   Mapping Type:	dict
*   Set Types:	set, frozenset
*   Boolean Type:	bool
*   Binary Types:	bytes, bytearray, memoryview

In example 1 we have variables x, a, and b with different values. If you want to know the type of x then use the type() function and input the variable name or letter inside of the parenthesis. Since x has a value of 1, and 1 is a whole number then the type of x is int, same as a and b.

In [ ]:
x = 1
a,b = 0, -1

In [ ]:
type(b)

int

In example 2 since y has a value of 1.0, and 1.0 is a decimal number then the type of y is float.

In [ ]:
y = 1.0
type(y)

If you want to convert or change the variable with a certain data type into  a different data type just use the casting method. So in example 3, variable x is originally 1 and has a datatype of int and if I want to change it into float the value of x will become 1.0

In [ ]:
x = float(x)
type(x)

float

In [ ]:
print(x)

1.0

Like other programming languages, strings in python are just like arrays of bytes representing unicode characters. In python the single quotation marks are the same as double quotation marks.  So for the last example of data type, given the variables of letter s, t, and u with their values of "0", '1' and 'one' is an example of string. As seen in the example s with the value of '0' is a string

In [ ]:
s,t,u = "0", '1', 'one'
type(s)

str

In [ ]:
s

'0'

If you want to change the datatype of s to int then use again the casting method. As seen in the example once you convert it into int the value of s is now 0.

In [ ]:
s_int = int(s)
s_int

0

In [ ]:
type(s_int)

int

## Operations
In python, operators are used to perform operations on variables and values. These are special symbols used to perform arithmetic and logical operations.
 
 
Below are the examples of the operators in the following groups

### Arithmetic
Arithmetic Operators, used to perform arithmetic operations like addition, subtraction, multiplication and division. 

Below are the examples using arithmetic operations.Given the variables a,b,c, and d with their values 2.0, -0.5,0, -32.

In [ ]:
a,b,c,d = 2.0, -0.5, 0, -32

In [ ]:
### Addition
S = a+b
S

1.5

In [ ]:
### Subtraction
D = b-d
D

31.5

In [ ]:
### Multiplication
P = a*d
P

-64.0

In [ ]:
### Division
Q = c/a
Q

0.0

In [ ]:
### Floor Division
Fq = a//b
Fq

-4.0

In exponentiation the operator ** is used to raise the number on the left to the power of the exponent of the right. So for the example a is the base while the b is exponent

In [ ]:
### Exponentiation
E = a**b
E

0.7071067811865476

Modulus operator is denoted by the % (percent sign). It is used to get the remainder of the left operand by the right.

In [ ]:
### Modulo
mod = d%a
mod

0.0

# Assignment Operations
In python, assignment operation is used to assign values to variables. There several compound operators in python like a += 2.0 that adds the same, later assigns the same. It is equivalent to a = a + 2.0

In [ ]:
G, H, J, K = 0, 100, 2, 2

In this example, since variable G has 0 value and a is 2.0 then the it will be G = G + a. That's why the output is like that

In [ ]:
G += a
G

2.0

Same as the previous one but it is the minus sign. So since the value of H is 100 and the value of d is -32. So it will be 100-(-32) and it will become an addition because of the negative sign. The equivalent of this example is H= H - d

In [ ]:
H -= d
H

132

The operator *= is just like you multiply j to 2 since j has a value of 2 if you multiply it to 2 then the result will become 4. The equivalent of this example is J= J x 2

In [ ]:
J *= 2
J

4

In this example, the operator ** is just like the exponentian.

In [ ]:
K **= 2
K

4

### Comparators
Comparison Operators are used to compare values. It returns either True or False according to the condition.

In [ ]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0

Operator == means equal to, it is true if both operands are equal

In [ ]:
## Equality
res_1 == true_val

True

Not equal !=, true if operands are not equal

In [ ]:
## Non-equality
res_2 != true_val

True

In this example, it uses greater than and less than operator, just like the previous example it returns either false or true based on the condition.

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2  
t1

False

### Logical
Logical operators are the and, or, not operators.

In [ ]:
res_1 == true_val

The "is" and "is not" operators are for Identity operator. They are used to compare the memory locations of the object. For is operator it is true if the operands are identical while for is not operator, it is true if the operands are not identical. Additionally, two variables that are equal does not imply that they are identical.

Just like the example, res_1 value is 1 while true_val is 1.0. Yes, they are equal since both of them are 1 but they are not identical since res_1 is int while the true_val is float.

In [ ]:
res_1 is true_val

False

In [ ]:
res_1 is not true_val

True

Given the values of p and q, true if both the operands are true for the and operator. In this case since the value of q is false then the result is both.
Just like in the truth table for conjunction if there is one false automatically the answer is false.

In [ ]:
p, q = True, False
conj = p and q
conj

False

For the or operator, it is true if either of the operands is true.

In [ ]:
p, q = True, False
disj = p or q
disj

True

For nand operator, true if operand is false

In [ ]:
p, q = True, False
nand = not(p and q)
nand

True

In [ ]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

### I/O
Using Input and Output Operations helps the developer on how we can take inputs from users and how to show it to them. Since there are programs that require data from users.

 The basic one example is to print the output that says "Hello World". So basically whatever you input inside the print() function, it automatically prints the specified message.

In [ ]:
print("Hello World")

Hello World

In [ ]:
cnt = 1

Using the cnt = 1 whenever you run the code it will add one since cnt +=1 is equivalent to cnt= cnt + 1, So in this example it shows that you can call the variable inside of the print.

In [ ]:
string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 1

Hello World , Current run count is: 3

In [ ]:
print(f"{string}, Current count is: {cnt}")

Hello World, Current count is: 4

In this example given the variables sem_grade and name, so whatever I input to these variables it will appear once you run it. The.format() function is used to format values and insert them to inside the string placeholder.

In [ ]:
sem_grade = 82.243564657461234
name = "flor"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello flor, your semestral grade is: 82.24356465746123

In [ ]:
w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [ ]:
x = input("enter a number: ")
x

enter a number: 26

'26'

In [ ]:
name = input("Kimi no nawa: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter finals grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Kimi no nawa: flor
Enter prelim grade: 80
Enter midterm grade: 90
Enter finals grade: 80
Hello flor, your semestral grade is: None

# Looping Statements
In python it provides the following types of loops to handle looping requirements.

## While
While loop, can execute a set of statements as long as the condition is true.

In this example, given the values of variables i and j ,the "i" will start at 0 and "j" will start at 10. Then it will be the values of i and j. Using the operator i+=1 results in 0-10 of i values since we are adding 1 until we got the value of j which is 10.

In [ ]:
## while loops
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i+=1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## For

for loop is used for iterating over a sequence that is either a list, tuple a dictionary, a string or a set. 
 
To loop through a set of code a specified number of times, we can use range() function, it returns a sequence of numbers, starting 0 by default and increments by 1, and ends at specified number. In this example, given the value of i, and the range of 10 then the output will be 0 to 9.

In [ ]:
# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

for loop can execute a set of statements in a list, tuple, and set. Like this example we have a list of the playlist so whatever we input songs to our playlist, will appear in the output.

In [ ]:
playlist = ['I like me better','Shallow','Ill Never Love Again']
print('Now Playing:\n')
for song in playlist:
    print(song)

Now Playing:

I like me better
Shallow
Ill Never Love Again

# Flow Control

## Condition Statements
  Condition statements are statements that control the flow of executing depending on some condition. Unlike other programming languages that use curly brackets, python relies on indention to define the scope of the line.

  In this example, given the variables of numeral1 and numeral2, if the numeral1 and numeral 2 are equal then it will print "Yey" and "Hip Hip" since we put another print function after all the condition. If the previous one is not true then another condition which we use elif keyword, for elif we use greater than operator. As seen in the example if numeral1 is greater then numeral2 then it will "Hoho" and "Hip Hip". The else keyword catches anything which isn't caught by the preceding conditions. Since numeral1 and numeral2 are equal then it will print the yey and hip hip words.

In [ ]:
numeral1, numeral2 = 12, 12
if(numeral1 == numeral2):
    print("Yey")
elif(numeral1>numeral2):
    print("Hoho")
else:
    print("Aww")
print("Hip hip")

Yey
Hip hip

# Functions
A function is a block of code which only runs when it is called. Allows you to pass data, known as parameters,into a function and it can also return data as result.

"def" is short for define. It is used to define a function so all the code you put between def function_name(parameters) and end will be executed every time you call the function_name.

In [ ]:
# void DeleteUser(int userid){
#     delete(userid);
# }

def delete_user (userid):
    print("Successfully deleted user: {}".format(userid))
    
def delete_all_users ():
    print("Successfully deleted all users")

In [ ]:
userid = 0
delete_user(0)
delete_all_users()

Successfully deleted user: 0
Successfully deleted all users

Below are the examples that shows we can perform operation inside.

In [ ]:
def add(addend1, addend2):
    return addend1 + addend2

def power_of_base2(exponent):
    return 2**exponent

In [ ]:
add(5,10)

15

In [ ]:
power_of_base2(5)

32

### Lambda Functions
Lambda function is a small anonymous function, it can take any number of arguments, but can only have one expression.

In this example, given the value of x if we declared f(x), it will return the results.

In [ ]:
x = 4

In [ ]:
def f(x):
  return 2*(x*x)-1
f(x)

31

In this example it shows that lamda can also perform with one line

In [ ]:
g = lambda x: 2*(x*x)-1
print(g(x))

31

In [ ]:
'''
Create a grade calculator that computes for the semestral grade of a course.
Students could type their names, the name of the course, then their prelim,
midterm, and final grade.
The program should print the semestral grade in 2 decimal points and should
display the following emojis depending on the situation:
happy - when grade is greater than 70.00
laughing - when grade is exactly 70.00
sad - when grade is below 70.00
'''
happy, lol, sad = "\U0001F600","\U0001F923","\U0001F619"

In [ ]:
def compute_grade():
    name = input("Enter you name: ")
    course = input("Enter the name of the course:")
    prelim = float(input("Enter prelim grade: "))
    midterm = float(input("Enter midterm grade: "))
    finals = float(input("Enter final grade: "))
    pg, mg, fg = 0.3, 0.3, 0.4
    sem_grade = prelim*pg + midterm*mg + finals*fg
    print("Hello {}, your semestral grade is: {}".format(name, sem_grade))
    if(sem_grade > 70):
        print("\U0001F600")
    elif(sem_grade==70):
         print("\U0001F923")
    else:
        print("\U0001F619")
compute_grade()

Enter you name: Flor-Ann Tagalog
Enter the name of the course:Numeth
Enter prelim grade: 80
Enter midterm grade: 85
Enter final grade: 90
Hello Flor-Ann Tagalog, your semestral grade is: 85.5
ðŸ˜€

### References
[1] W3 Schools (2021). [***W3 Schools: Python Data Types***](https://www.w3schools.com/python/python_datatypes.asp)

[2] W3 Schools (2021). [***W3 Schools: Python Strings***](https://www.w3schools.com/python/python_strings.asp)

[3] Programiz. [***Programiz: Python Operators***](https://www.programiz.com/python-programming/operators)

[4]  W3 Schools (2021). [***W3 Schools: While loops***](https://www.w3schools.com/python/python_while_loops.asp)

[5] W3 Schools (2021). [***W3 Schools: Python For Loops***](https://www.w3schools.com/python/python_for_loops.asp)

[6]  W3 Schools (2021). [***W3 Schools: Python Conditions***](https://www.w3schools.com/python/python_conditions.asp)

[7] W3 Schools (2021). [***W3 Schools: Python Functions***](https://www.w3schools.com/python/python_functions.asp)

[8] W3 Schools (2021). [***W3 Schools: Python Lamdda***](https://www.w3schools.com/python/python_lambda.asp)